<article>
  <div>
    <h1>{{title}}</h1>
  </div>
  <div>
    Created by: {{user.pseudonym}} on
    {{created_at}}
    |
    <a href="/post/{{id}}">{{comments.length}} comments</a>
  </div>
</article>